<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<p>Think of this site as a more user friendly version of Google Finance. I've been fascinated with finance recently and thought about building an app for people to follow their favourite companies. While this is not an all encompassing financial management app, it will provide people a nice dashboard view on a) how their picked companies are faring on the open market, and b) able to buy and sell in shares on those companies.</p>