<h1>Sample Portfolio Data</h1>
<p>When a user signs in a creates their portfolio, growth is slow and favours the patient</p>
<p>This is a sample page of what an average portfolio page would look like. The share of stocks are presented in a doughnut graph with the value of the portfolio being tracked over time.</p>


<div class="container">
  <canvas id="positions_sample_chart"></canvas>
</div>

  <canvas id="valuations_sample_chart"></canvas>


<script>

      var stock_ctx = document.getElementById("positions_sample_chart").getContext('2d');
      var samplePie = new Chart(stock_ctx, {
        type: 'doughnut',
        data: {
          labels: ["FB", "DIS", "MSFT", "TSLA", "AAPL", "TWTR", "LNKD"],
          datasets: [{
            backgroundColor: [
              "#2ecc71",
              "#3498db",
              "#FFA75D",
              "#9b59b6",
              "#f1c40f",
              "#e74c3c",
              "#34495e"
            ],
            data: [12, 19, 3, 17, 28, 24, 7]
          }],
          options: {
            responsive: false,
            maintainAspectRatio: false

          }
        }
      });

      // ////////////////////////////////////////////////////////////////////////////////////////////////////
      var valuation_context = document.getElementById('valuations_sample_chart');
      var val_ctx = valuation_context.getContext('2d');

      var valuation_amounts = [143.55, 144.45, 139.33, 141.11, 153.23, 145.45, 146.44, 140.45, 141.33];


      var valuation_dates = ["2017-01-01T01:12:04.238-05:00","2017-01-01T01:40:03.856-05:00","2017-01-03T18:57:47.777-05:00", "2017-01-04T01:40:04.556-05:00", "2017-01-04T08:16:12.009-05:00", "2017-01-04T16:11:20.868-05:00", "2016-12-31T00:00:03.344-05:00", "2017-01-01T01:06:02.897-05:00", "2017-01-01T01:03:03.156-05:00"];
      valuation_dates.map(function(v){
        console.log(Date.parse(v));
      })
      valuation_dates.sort();

      console.log(valuation_amounts);
      console.log(valuation_dates);

      var sampleValuations = new Chart(val_ctx, {

          type: 'line',
          data: {
              labels: valuation_dates,
            datasets: [{
              data: valuation_amounts,
              label: 'Portfolio amount',
              backgroundColor: "rgba(100,149,237, 0.5)",
              borderColor: "rgb(0,0,255)",
              pointBorderColor: "rgb(0,0,255)",
              pointBackgroundColor: "rgba(100,149,237, 0.5)",
              spanGaps: true
            }],
            options: {
              responsive: false,
              maintainAspectRatio: true
            }
          }
      });

</script>

